.header {
  border-bottom: 1px solid var(--color-main);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__logo {
    picture,
    img {
      width: 76px;
      height: 34px;

      @media (min-width: 576px) {
        width: 92px;
        height: 40px;
      }
    }
  }

  &__contact {
    span {

    }
  }

  &__contact {
    span {
      display: block;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      opacity: 0.5;
    }
  }
}



