.seo {
  padding: 57px 0;

  &__wrapp {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @media (min-width: 768px) {
      grid-column: span 2;
    }
  }

  &__text {
    margin-bottom: 43px;
  }

  &__consultation {
    @media (min-width: 768px) {
      grid-column: span 2;
      padding: 0 50px;

      // .consultation__box {
      //   max-width: 940px;
      //   grid-gap: 30px;
      //   // justify-content: center;
      // }

      // .consultation__img {
      //   width: 280px;
      // }

      // .consultation__image {
      //   left: 5%;
      //   width: 280px;
      //   height: auto;
      // }

      // .consultation__info {
      //   max-width: 412px;
      //   padding: 41px 0;
      // }
    }
  }
}
