<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="#">
        <picture>
          <source type='image/webp' srcset='img/logo.webp'>
          <img width='92' height='40' src='img/logo.png' alt='Lido logo'>
        </picture>
      </a>

      <div class="header__contact">
        <a class="header__phone phone" href="tel:380972454556">+38 (097) 245 45 56</a>
        <span>прийом замовлень</span>
      </div>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
        <ul class="mobile__menu">
          <li class="mobile__menu-list">
            <a class="mobile__menu-link" href="#eva">Eva-коврики</a>
          </li>
          <li class="mobile__menu-list">
            <a class="mobile__menu-link" href="#textile">Текстильні коврики</a>
          </li>
          <li class="mobile__menu-list">
            <a class="mobile__menu-link" href="#rubber">Резинові коврики</a>
          </li>
          <li class="mobile__menu-list">
            <a class="mobile__menu-link" href="https://lido.ua/">Магазин автоковриків</a>
          </li>
          <li class="mobile__menu-list">
            <a class="mobile__menu-link" href="https://lido.ua/">Автотовари</a>
          </li>
          <li class="mobile__menu-list">
            <button class="mobile__menu-link">Передзвоніть мені</button>
          </li>
          <li class="mobile__menu-list">
            <a class="mobile__menu-link" href="#contacts">Контакти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
