<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="#">
        <picture>
          <source type='image/webp' srcset='img/logo.webp'>
          <img width='92' height='40' src='img/logo.png' alt='Lido logo'>
        </picture>
      </a>

      <div class="header__contact">
        <a class="header__phone phone" href="tel:380972454556">+38 (097) 245 45 56</a>
        <span>прийом замовлень</span>
      </div>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
