<div class="modal">
  <div class="modal__container" data-animation="fade" data-speed="300" data-target="consultation">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>

      <form class="form">
        <div class="form__title">Форма замовлення</div>

        <div class="form__labels">
          <label class="form__label">
            <input class="form__input" type="tel" name="tel" placeholder="Ваш номер телефону">
          </label>
          <label class="form__label">
            <input class="form__input" type="text" name="car" placeholder="Марка вашого авто">
          </label class="form__label">
          <label>
            <input class="form__input" type="text" name="model" placeholder="Модель">
          </label>
        </div>

        <button class="form__btn button">Замовити</button>
      </form>
    </div>
  </div>
</div>
