.phone {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}

.footer__copyright {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;

  @media (min-width: 576px) {
    font-size: 28px;
    line-height: 35px;
  }
}

