.phone {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}

.footer__copyright {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;

  @media (min-width: 576px) {
    font-size: 28px;
    line-height: 35px;
  }
}

.button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}


.gift__descr {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: var(--color-black);

  @media (min-width: 576px) {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--color-main);
  }
}

.title {
  font-size: 38px;
  line-height: 110%;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;

  span {
    display: block;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.265em;
    color: var(--color-yellow);
    text-transform: uppercase;
  }

  @media (min-width: 576px) {
    font-size: 60px;

    span {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.information__list-item {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-white);
}
