.phone {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}

.footer__copyright {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;

  @media (min-width: 576px) {
    font-size: 28px;
    line-height: 35px;
  }
}

.button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}


.gift__descr {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: var(--color-black);

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--color-main);
  }
}

.title {
  font-size: 38px;
  line-height: 110%;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;

  span {
    display: block;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.265em;
    color: var(--color-yellow);
    text-transform: uppercase;
  }

  @media (min-width: 576px) {
    font-size: 60px;

    span {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.information__list-item {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-white);
}

.h2 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 800;

  @media (min-width: 576px) {
    font-size: 44px;
  }
}

.consultation__title {
  font-size: 24px;
  line-height: 120%;
  font-weight: 800;
}

.consultation__text {
  font-size: 12px;
  line-height: 140%;
}

.consultation__btn {
  font-size: 12px;
  line-height: 120%;
  font-weight: 800;
}

.mats__details-item {
  font-size: 16px;
  line-height: 120%;
  color: var(--color-black);
}

.variants__title {
  font-size: 20px;
  line-height: 110%;
  font-weight: 700;
  color: var(--color-white);
}

.variants__descr {
  font-size: 12px;
  line-height: 120%;
  color: var(--color-yellow);
}

.h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 800;
  text-align: center;

  @media (min-width: 576px) {
    font-size: 50px;
    line-height: 120%;
  }
}

.mat__details-item {
  font-size: 16px;
  line-height: 120%;
}

.seo__text {
  font-size: 14px;
  line-height: 140%;

  @media (min-width: 576px) {
    font-size: 16px;
  }
}

.materials__title,
.configuration__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 800;
}

.material__info {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}

.material__made {
  font-size: 14px;
  line-height: 120%;
  color: var(--color-yellow);
}

.configuration__info-type {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}

.configuration__info-pricelist {
  font-size: 14px;
  line-height: 120%;
}

.configuration__info-price {
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  color: var(--color-yellow);
}

.choose__title {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}

.choose__made-country {
  font-size: 14px;
  line-height: 120%;
  color: var(--color-yellow);
}

.gifts__title {
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
}

.form__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: var(--color-black);
}

.details__info-title {
  font-size: 16px;
  line-height: 120%;
}

.details__info-counts {
  line-height: 120%;
  font-size: 16px;
  font-weight: 600;
}
